body{
    background-size: 100%;
}
.top ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #F1F1F1;
    height: 28px;
}

.top .left li{
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 6px 6px;
    font-size: 11px;
    margin-left: 80px;
    font: Regular 12px/13px Open Sans;
    opacity: 1;
    letter-spacing: 0.24px;
}

.top .right li{
    float: right;
    margin-right: 50px;
    font: Regular 12px/13px Open Sans;
    opacity: 1;
    letter-spacing: 0.24px;
}

.top li a{
    display: block;
    color: #000000;
    text-align: center;
    padding: 6px 0px 6px 0px;
    font-size: 11px;
    text-decoration: none;
}

.search ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

.search li {
    float: left;
  }
  
.search li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.search li.dropdown {
    display: inline-block;
}
  
.search .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.search .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.search .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
}

